.games {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 40em) {
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 1rem;
  }
  &__card {
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  &__name {
    padding: 1rem;
  }
}
